### Tuple ()

Immutable / fast iteration bcoz of immutable

In [ ]:
yeh_tuple = ("i","k","r","a","m","a")
yeh_tuple

('i', 'k', 'r', 'a', 'm', 'a')

##### index of Tuple

In [ ]:
print(yeh_tuple.index("r")) #return index of first occurance

2

count in Tuple

In [ ]:
print(yeh_tuple.count("a")) #return count of element

2

In [ ]:
print(yeh_tuple[1::2])

('k', 'a', 'a')

Assign value tuple_value to new list/variable

In [ ]:
full_name = ("Ikraama","Ali","Ali","Sayed")
name,*middle,surname = full_name
print(middle)

['Ali', 'Ali']

##### list VS Tuple Comparison

In [ ]:
import sys
my_list = [0,1,2,"hello",True]
my_tuple = (0,1,2,"hello",True)
print("LIST SIZE " ,sys.getsizeof(my_list),"bytes")
print("TUPLE SIZE",sys.getsizeof(my_tuple),"bytes")

LIST SIZE  104 bytes
TUPLE SIZE 80 bytes

In [ ]:
import timeit
print("LIST: ",timeit.timeit(stmt="[0,1,2,3,4,5]",number=1000000))  #create list 1 million times with stmt
print("TUPLE:",timeit.timeit(stmt="(0,1,2,3,4,5)",number=1000000))  #create tuple 1 million times with stmt

LIST:  0.06259384199995566
TUPLE: 0.008934889999977713

### Set
all are the unique elements ,
if not unique ignores the repeatation & fetch randomly not in sequence & indexing is not supported
do not support mutable elements but sets are mutable

In [18]:
s= {10,15,61,3,45,21,4,12,41}
s

{3, 4, 10, 12, 15, 21, 41, 45, 61}

In [ ]:
wanna_be_empty_set ={}# if try to create empty set like this
print(type(wanna_be_empty_set)) # this will show empty dictionary

actual_empty_set=set() # defining the set using " set()" just like " type() "
print(type(actual_empty_set)) # this will return the empty set

<class 'dict'>
<class 'set'>

In [20]:
s.add(1)

for i in range(9):
    s.add(i)
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

#### DISCARD / remove but if not found will not raise any error

In [22]:
print(s)
for el in list(s ):
  if el not in range(1,9):
    s.discard(el)
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

#### .remove(el) : remove an element "el"

In [9]:
s.remove(0)
s.discard(0)
print(s,len(s))

{1, 2, 3, 4, 5, 6, 7, 8, 41, 10, 12, 45, 15, 21, 61} 15

#### .pop() : removes the random Value from the set

In [ ]:
s.pop()
print(s,len(s))

{1, 2, 3, 6, 7, 8, 4} 7

#### .clear() : empties the whole element

In [ ]:
s.clear()
print("set s :", s)

set s : set()

In [19]:
a= {1,3,5,7,9,11,13,17,19}
print()
b={1,2,3,4,5,6,7,8,9}
print("set a : ",a,"    ","set b : ",b)
print("intersection of a & b : ",a.intersection(b))
print("union of a & b : ",a.union(b))

set a :  {1, 3, 5, 7, 9, 11, 13, 17, 19}      set b :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection of a & b :  {1, 3, 5, 7, 9}
union of a & b :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19}

#### Difference between (symmetric_difference())

In [14]:
diff = a.difference(b)  # return the different/compared value from , here a has 11,13,17,19 different
print("difference of a & b : ",diff)
ffid = b.difference(a)  # here b has 2,4,6,8
print("difference of a & b : ",ffid)

difference of a & b :  {19, 17, 11, 13}
difference of a & b :  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
sym_diff = b.symmetric_difference(a)
print("symmetric difference of a & b : ",sym_diff)
mys_diff = a.symmetric_difference(b)
print("symmetric difference of a & b : ",mys_diff)

symmetric difference of a & b :  {2, 4, 6, 8, 11, 13, 17, 19}
symmetric difference of a & b :  {2, 4, 6, 8, 11, 13, 17, 19}

#### TYPES OF UPDATES

In [13]:
a.difference_update(b)
print(a)

{11, 13, 17, 19}

In [17]:
a.intersection_update(b)
print(a)

{1, 3, 5, 7, 9}

In [20]:
a.symmetric_difference_update(b)
print(a)

{2, 4, 6, 8, 11, 13, 17, 19}

#### Frozen Set

In [22]:
this_frozen = frozenset([1,2,3,4,5,6,7,8,9])
print(this_frozen)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})