### Tuple ()

Immutable / fast iteration bcoz of immutable

In [12]:
yeh_tuple = (1,4,2,3,5,6,7,8,5)
yeh_tuple

(1, 4, 2, 3, 5, 6, 7, 8, 5)

##### index of Tuple

In [13]:
print(yeh_tuple.index(2)) #return index of first occurance

2

count in Tuple

In [14]:
print(yeh_tuple.count(5))

2

### Set 
all are the unique elements ,
if not unique ignores the repeatation & fetch randomly not in sequence & indexing is not supported 
do not support mutable elements but sets are mutable

In [18]:
s= {10,15,61,3,45,21,4,12,41}
s

{3, 4, 10, 12, 15, 21, 41, 45, 61}

In [19]:
wanna_be_empty_set ={}# if try to create empty set like this 
print(type(wanna_be_empty_set)) # this will show empty dictionary 

actual_empty_set=set() # defining the set using " set()" just like " type() "
print(type(actual_empty_set)) # this will return the empty set

<class 'dict'>
<class 'set'>

In [62]:
s.add(1)

for i in range(9):
    s.add(i)
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

#### .remove(el) : remove an element "el"

In [50]:
s.remove(0)
print(s,len(s))

{1, 2, 3, 5, 6, 7, 8, 4} 8

#### .pop() : removes the random Value from the set

In [51]:
s.pop()
print(s,len(s))

{1, 2, 3, 6, 7, 8, 4} 7

#### .clear() : empties the whole element

In [86]:
s.clear()
print("set s :", s)

set s : set()

In [109]:
a= {1,3,5,7,9,11,13,17,19}
print()
b={1,2,3,4,5,6,7,8,9}
print("set a : ",a,"    ","set b : ",b)
print("intersection of a & b : ",a.intersection(b))
print("union of a & b : ",a.union(b))

set a :  {1, 3, 5, 7, 9, 11, 13, 17, 19}      set b :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection of a & b :  {1, 3, 5, 7, 9}
union of a & b :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19}

In [117]:
q_dictionary ={
    "cat":"a small animal "
}
q_dictionary

{'cat': 'a small animal '}