## 1. Positional Argument

In positional argument values assigned to the particular variable for eg: 1st arg is `name` and we enter the the *age value= 23* instead then `name = 23`

In [8]:
def person ( name ,age ):
    print("this is name",name)
    print("this is age",age)


print(person(22,"Hamza"))

this is name 22
this is age Hamza
None

## 2. Key Words Argument

Mentioning the variable/Argument itself whom to declear what value

In [9]:
def person ( name ,age ):
    print("this is name",name)
    print("this is age",age)


print(person(age = 22,name = "Hamza"))

this is name Hamza
this is age 22
None

## 3. Default

dedicating the default or initial value as an argument

In [21]:
def person ( name ,age =18 ):
    print("this is name",name)
    print("this is age",age)

person("Hamza")
# print(person(22,"Hamza"))

this is name Hamza
this is age 18

## 3. Variable Length Argument

here we are limited with variable argument we can only enter 2 argument which `a` & `b`
```
def sum ( a,b):
    c = a +b
    print(c)
sum (2,5)```

to use multiple argument use will be using `a, *b`

#### Reasoning : will take `a` as an int & `b` as tuple
```
def sum (a, *b): 
     // c = a+b
    print(a)
    print(b)    
sum ( 5,6,7,8)```
OUTPUT :    5       
            (6,7,8)

In [25]:
def sum (a, *b):
    c = a
    
    for i in b:
        c = c + i
    print(c)
sum (5,6,7,8)

26

## ****kwarg** Keyword-Variable-Length-Arguments

### Variable Arg = *data
**VS**
### KWARG = **data

``def employee(name, *data):`` This is variable Argument where multi values were given into single variable i.e `data`

In [4]:
def employee(name, *data):
    print(name)
    print(data)

employee("Ikrama", 21,"Mumbai",987654321)

Ikrama
(21, 'Mumbai', 987654321)

``def employee(name, **data):`` This is Keyword Variable Argument where multi values were given into single variable i.e `data` *with* keyword `age, city, mob`

In [6]:
def employee(name, **data):
    print(name)
    print(data)

employee("Ikrama",age = 21,city= "Mumbai",mob=987654321)

Ikrama
{'age': 21, 'city': 'Mumbai', 'mob': 987654321}

In [8]:
def employee(name, **data):
    print(name)

    # use for loop to print kew value pair 
    for i,j in data.items():
        print(i,j)  #   i = key , j = value

employee("Ikrama",age = 21,city= "Mumbai",mob=987654321)

Ikrama
age 21
city Mumbai
mob 987654321